body{
    background-color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
}

#headerNav {
    background-color: rgb(71, 71, 71);
    height: 60px;
    left: 0;
    width: 100%;
}

.content {
    margin: 10px;
}

#headerNav .navItem {
    height: 100%;
    padding: 0px;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#headerNav .navItem a {
    text-decoration: none;
    color: rgb(199, 199, 199);
    padding: 0px 20px;
}

#headerNav .navItem .selectable {
    height: 10px;
    padding: 0px 20px;
}

.selected {
    background-color: rgb(26, 26, 26);
    max-height: 5px;
    margin-top: 5px;
}

#footerNav {
    background-color: rgb(71, 71, 71);
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:left
}

#footerNav #footerContent {
    padding: 10px;
}

#copyright span {
    font-size: 10px;
    color: rgb(199, 199, 199);
    text-align:left
}

#copyright {
    display: inline-block;
}
.not-selected {
    opacity: .75;
}

#socialLinks > a > img {
vertical-align: middle;
}
#socialLinks  {
        display: inline-block;
    }
    #socialLinks > span {
        color: whitesmoke;
    }

    .fspacer {
margin-top: 100px;
        height: 10px;
        min-height: 100px;
    }